body {
  margin: 0;
  padding: 0;
  min-width: 375px;
}

.backgound {
  background: url(../../images/backgounds/Bg-hero.svg) 100%;
  padding-bottom: 91px;
  padding-top: 99px;
}

.common-nav-menu-style-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  font-family: "Effra";
}

.common-size-title-heavy {
  font-weight: 900;
  font-size: 72px;
  line-height: 112%;
  text-align: center;
  font-family: "Effra-Heavy";
}

.common-size-description-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  font-family: "Effra";
}

.common-size-title-sections {
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  font-family: "Effra";
  color: #000;
}

.common-size-button-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  font-family: "Effra";
}

.common-size-title-card {
  font-weight: 500;
  font-size: 36px;
  line-height: 100%;
  font-family: "Effra";
}

.common-logo-size-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  font-family: "Inter";
}

.common-size-button-card-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
}

.common-description-card-simple-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  font-family: "Effra";
}

.common-price-card {
  font-weight: 500;
  font-size: 64px;
  line-height: 100%;
}

.footer {
  padding: 29px 0 30px 0;
}

@media (max-width: 1280px) {
  .common-nav-menu-style-text {
    font-size: 16px;
  }

  .common-size-title-heavy {
    font-size: 64px;
  }

  .common-size-description-text {
    font-size: 16px;
  }

  .common-size-title-sections {
    font-size: 57px;
  }

  .common-size-button-text {
    font-size: 16px;
  }

  .common-size-title-card {
    font-size: 32px;
  }

  .common-logo-size-text {
    font-size: 21px;
  }
  .common-description-card-simple-text {
    font-size: 16px;
  }
  .common-price-card {
    font-size: 57px;
  }
}

@media (max-width: 828px) {
  .common-description-card-simple-text {
    font-size: 18px;
  }
  .common-price-card {
    font-size: 64px;
  }
  .common-size-title-card {
    font-size: 36px;
  }
}

@media (max-width: 636px) {
  .common-nav-menu-style-text {
    font-size: 14px;
  }

  .common-size-title-heavy {
    font-size: 51px; /*-20%*/
  }

  .common-size-description-text {
    font-size: 14px;
  }

  .common-size-title-sections {
    font-size: 45px; /*-20%*/
  }

  .common-size-button-text {
    font-size: 14px;
  }

  .common-logo-size-text {
    font-size: 18px;
  }
  .backgound {
    padding-top: 56px;
    padding-bottom: 53px;
  }
}

@media (max-width: 500px) {
  .common-size-title-heavy {
    font-size: 36px;
  }
}

@media (max-width: 450px) {
  .common-nav-menu-style-text {
    font-size: 14px;
  }

  .common-size-description-text {
    font-size: 14px;
  }

  .common-size-title-sections {
    font-size: 36px;
    font-weight: 900;
  }

  .common-size-button-text {
    font-size: 14px;
  }

  .common-size-title-card {
    font-size: 32px;
  }

  .common-logo-size-text {
    font-size: 21px;
  }
  .common-price-card {
    font-size: 60px;
  }
}
