.container-nav-menu {
  background: url(../../images/backgounds/Bg-hero.svg) 100%;
  position: sticky;
  top: 0;
  z-index: 10;
}

.wraper-header {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding: 29px 0;
}

.header-site {
  color: white;
}

.nav-menu-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}

.login-button {
  color: white;
}

.register-button {
  border-radius: 40px;
  padding: 12px 32px;
  height: 42px;
  background: #fff;
  font-family: "Effra";
  border: none;
}

.box-size-register {
  display: flex;
  align-items: center;
  gap: 40px;
}

.box-size-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  text-decoration: none;
}

.link-nav-item {
  color: white;
  text-decoration: none;
}

.link-nav-item:visited {
  color: white;
}

.title-main-text {
  color: #fff;
  margin: 0 0 24px 0;
}
.wrapper-main {
  max-width: 700px;
  margin: 0 auto 94px auto;
}

.description-main-text {
  color: #8b8b8b;
  margin: 0 0 40px 0;
}

.button-get-started {
  background: #a8ff35;
  border-radius: 40px;
  padding: 16px 32px;
  width: 180px;
  height: 57px;
  border: none;
  color: #000;
  text-wrap-mode: nowrap;
}

.wrapper-buton {
  display: flex;
  gap: 18px;
  justify-content: center;
  align-items: center;
}

.horizontal-card {
  max-width: 341px;
  height: 82px;
  background: #181818;
  flex-direction: row;
  align-items: center;
  position: relative;
  display: flex;
}

.logo-card-image {
  max-width: 31px;
  height: auto;
}
.title-card {
  font-weight: 400;
  font-size: 23px;
  text-align: center;
  color: #fff;
  color: white;
  margin-right: 2px;
  height: 28px;
  font-family: "Roboto";
}

.liner-backgound::before {
  content: "";
  background: linear-gradient(270deg, #181818 53.65%, rgba(24, 24, 24, 0.8) 100%);
  width: 84px;
  height: 82px;
  position: absolute;
  top: 0;
  right: 0;
}
.cross-btn {
  max-width: 15px;
  height: auto;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  right: 23px;
}

.container-card {
  display: flex;
  gap: 13px;
  align-items: center;
  max-width: 100%;
}

.wrapper-cards {
  max-width: 1076px;
  display: grid;
  grid-template-columns: auto auto;
  position: relative;
  height: auto;
  margin: 0 auto;
}

.twitter-card {
  position: relative;
  transform: rotate(-4deg);
  box-shadow: 7px 7px 0 0 rgba(0, 0, 0, 0.8);
  top: 14px;
  left: 0;
  z-index: 4;
}

.pinterest-card {
  position: relative;
  transform: rotate(2deg);
  box-shadow: 7px 7px 0 0 rgba(0, 0, 0, 0.8);
  top: 68px;
  left: -334px;
  z-index: 3;
}
.facebook-card {
  position: relative;
  transform: rotate(-2deg);
  box-shadow: 7px 7px 0 0 rgba(0, 0, 0, 0.8);
  top: -90px;
  left: 452px;
  z-index: 2;
}

.png-card {
  position: relative;
  transform: rotate(4deg);
  box-shadow: 7px 7px 0 0 rgba(0, 0, 0, 0.8);
  left: 183px;
  z-index: 1;
}

.tabs-catd-img {
  max-width: 341px;
  height: auto;
}

.section-new-tabs {
  background-color: #a8ff35;
  padding: 140px 0;
}

.wrapper-tabs {
  max-width: 854px;
  margin: 0 auto;
}

.title-tabs {
  color: #000;
  margin: 0 0 60px 0;
}

.center-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  gap: 24px;
  position: relative;
}

.size-box-border-centr {
  max-width: 502px;
  height: auto;
  background-color: #fff;
  padding: 60px 80px;
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
}

.size-box-center-button-tab {
  max-width: 341px;
  background-color: black;
  height: 82px;
  position: relative;
  box-sizing: border-box;
  padding: 25px 23px 25px 39px;
}

.description-tab {
  max-width: 230px;
  font-weight: 400;
  font-size: 23px;
  text-align: center;
  color: #fff;
  margin-right: 2px;
  height: 28px;
  font-family: "Roboto";
}

.size-box-icon-text-cross {
  display: flex;
  gap: 15px;
  align-items: center;
}

.description-under-tab-text {
  color: #000;
  max-width: 666px;
  margin: 0 auto;
}

.wrapper-finded-platforms {
  margin: 0 auto;
  max-width: 1160px;
  display: flex;
  flex-direction: column;
  padding: 18px;
  box-sizing: border-box;
  gap: 80px;
}

.re-set-color-text {
  color: rgba(170, 170, 170, 1);
}

.only-text {
  padding: 140px 0;
}

.header-only-text {
  color: #000;
  font-weight: 700;
  font-size: 64px;
  font-family: "Effra";
  margin: 0;
}

.wrapper-only-text {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  padding: 0 20px;
  box-sizing: border-box;
}

.title-finded {
  color: #000;
  margin: 0;
}

.table-logo {
  display: grid;
  justify-items: center;
  gap: 32px;
  width: 100%;
  height: auto;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.cell-grid {
  max-width: 266px;
  width: 100%;
  min-width: 162px;
  background: #f5f5f5;
  border-radius: 8px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-size-logo-grid {
  max-width: 190px;
  height: auto;
}
.all-platforms {
  background: #fafafa;
  padding: 135px 0 145px 0;
}

.wrapper-all-platforms {
  max-width: 1160px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 80px;
  margin-bottom: 77px;
}

.title-all-platforms {
  color: #000;
  margin: 0;
}

.wrapper-tweet {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 80px;
  flex-direction: column;
  align-items: center;
}

.wrapper-tweet-article {
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.logo-list-all-platforms {
  list-style-type: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 24px;
  padding: 0;
  margin: 0;
  position: relative;
  left: 0;
  width: 1160px;
}

.logo-list-item {
  max-width: 124px;
  height: 124px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 32px;
  box-sizing: border-box;
}

.selected-list-logo-item {
  background: #a8ff35;
}

.btn-view-more-trand {
  background: #000;
  border-radius: 40px;
  padding: 16px 32px;
  max-width: 198px;
  height: 57px;
  color: #fff;
}

.subscriptions {
  background-color: #000;
  width: 100%;
  padding: 140px 0;
}

.wrapper-subscriptions {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.title-subscriptions {
  color: #fff;
  margin: 0 0 40px 0;
}

.slider-selecter {
  background: #fff;
  border-radius: 99px;
  width: 104px;
  height: 52px;
  position: relative;
}
.cicrle {
  border-radius: 50%;
  background: #a8ff35;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 8px;
}

.selecter-slider-varible1 {
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  font-family: "Inter";
}
.selecter-slider-varible2 {
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  font-family: "Inter";
  opacity: 0.5;
}

.size-box-slider {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 40px;
}

.save-position {
  position: absolute;
  top: -40px;
  left: 0;
}
.save-position-two {
  display: none;
}
.card-sub {
  height: 640px;
  width: 100%;
  background-color: #fff;
  padding: 32px 32px 24px 32px;
  box-sizing: border-box;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.card-sub-green {
  height: 640px;
  width: 100%;
  background-color: #a8ff35;
  padding: 32px 32px 24px 32px;
  box-sizing: border-box;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}
.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-items: center;
}

.horizontal-box-chek-mark {
  display: flex;
  gap: 8px;
}

.header-card {
  color: #000;
  margin: 0 0 8px 0;
}

.description-card-text {
  color: #000;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}
.line-card {
  width: 296px;
  margin: 0 0 32px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.int-price {
  color: #000;
}

.text-period {
  color: #000;
  padding-bottom: 6px;
  box-sizing: border-box;
}

.period-box {
  display: flex;
  margin: 0 0 32px 0;
  align-items: flex-end;
  width: 100%;
}

.vertiacal-box-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.description-text-box-card {
  color: #000;
}

.btn-free-tral {
  display: flex;
  background: #a8ff35;
  border-radius: 29px;
  width: 100%;
  height: 58px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #000;
  font-family: "Effra";
  align-items: center;
  justify-content: center;
}

.btn-free-tral-green-card {
  display: flex;
  background: #000;
  border-radius: 29px;
  width: 100%;
  height: 58px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
  font-family: "Effra";
  align-items: center;
  justify-content: center;
}

.wrapper-button-in-card {
  height: 100%;
  display: flex;
  align-items: flex-end;
  width: 100%;
  position: relative;
}

.section-join-now {
  background: #a8ff35;
  padding: 140px 0;
}

.wrapper-join-now {
  max-width: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.title-join-now {
  color: #000;
  margin: 0;
  margin-bottom: 40px;
}

.set-color-title-join-now {
  color: #87d322;
}

.btn-join-now {
  border-radius: 40px;
  padding: 16px 32px;
  width: 180px;
  height: 57px;
  background: #000;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #fff;
  font-family: "Effra";
  cursor: pointer;
  text-wrap: nowrap;
}

.listi-footer-menu {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  max-height: 18px;
  padding: 0;
  margin: 0;
}

.link-footer-menu {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #000;
  font-family: "Effra";
  text-decoration: none;
}

.wrapper-footer {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.wrapper-footer-logo {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.title-footer {
  font-family: "Effra";
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  color: #000;
}

.menu-burger {
  display: none;
}
.right-bot-text-arrow,
.left-bot-text-arrow {
  display: none;
}

.wraper-horizontal-platforms {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.img-logo-horizontal {
  max-width: 60px;
  height: auto;
}

.tweet-size-img {
  max-width: 100%;
  height: auto;
}

.sub-position {
  position: relative;
}
@media (max-width: 1280px) {
  .wraper-header {
    padding: 29px 018px;
  }
  .section-new-tabs {
    padding: 120px 0;
  }
  .subscriptions,
  .section-join-now,
  .only-text {
    padding: 120px 0;
  }

  .card-sub,
  .card-sub-green {
    max-width: 360px;

    padding: 32px 18px 24px 18px;
  }
  .table-logo {
    width: 100%;
  }

  .pinterest-card {
    top: 98px;
    left: -300px;
    max-width: 90%;
    height: auto;
  }
  .facebook-card {
    left: 352px;
    max-width: 90%;
    height: auto;
  }
  .png-card {
    left: 83px;
    max-width: 90%;
    height: auto;
  }
  .twitter-card {
    max-width: 90%;
    height: auto;
  }

  .logo-size-header {
    max-width: 90%;
    height: auto;
  }

  .nav-menu-list {
    gap: 36px;
  }

  .header-only-text {
    font-size: 57px;
  }

  .table-logo {
    gap: 18px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
  .image-size-logo-grid {
    max-width: 170px;
  }

  .wrapper-all-platforms {
    max-width: 100%;
    margin-bottom: 67px;
  }

  .card-list {
    gap: 18px;
  }

  .wrapper-footer {
    padding: 18px;
    box-sizing: border-box;
  }

  .box-size-register {
    gap: 34px;
  }

  .header-site {
    display: none;
  }

  .wrapper-cards {
    max-width: 800px;
  }
  .wraper-horizontal-platforms {
    padding-left: 18px;
  }
  .wrapper-subscriptions {
    padding: 0 18px;
  }
}

@media (max-width: 828px) {
  .card-sub,
  .card-sub-green {
    padding: 32px 32px 24px 32px;
  }
  .logo-list-item {
    max-width: 99px;
    height: auto;
    padding: 25px;
  }
  .img-logo-horizontal {
    max-width: 48px;
  }
  .subscriptions,
  .all-platforms,
  .section-join-now,
  .only-text,
  .all-platforms {
    padding: 100px 0;
  }

  .wrapper-cards {
    justify-content: center;
  }

  .wrapper-cards {
    grid-template-columns: auto;
  }

  .twitter-card,
  .pinterest-card,
  .png-card,
  .facebook-card {
    position: relative;
    left: 0;
    top: 0;
  }

  .nav-menu,
  .box-size-register {
    display: none;
  }

  .menu-burger {
    display: block;
    width: 18px;
    height: 2px;
    background: white;
  }
  .menu-burger::after {
    content: " ";
    width: 18px;
    height: 2px;
    background: white;
    position: absolute;
  }

  .footer {
    padding: 80px 0;
  }

  .size-box-border-centr {
    padding: 30px 50px;
  }

  .center-cell {
    gap: 12px;
  }

  .left-text-arrow {
    position: absolute;
    left: 50px;
    top: 10px;
  }

  .right-text-arrow {
    right: 50px;
    position: absolute;
    bottom: 10px;
  }

  .description-under-tab-text {
    color: #000;
    max-width: 666px;
    padding: 0 18px;
  }

  .wrapper-only-text {
    max-width: 780px;
  }

  .table-logo {
    gap: 18px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .image-size-logo-grid {
    max-width: 150px;
    height: auto;
  }

  .logo-list-item {
    max-width: 74px;
    height: 74px;
  }

  .card-list {
    display: grid;
    grid-template-columns: 100%;
    gap: 40px;
  }

  .wrapper-footer {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }

  .listi-footer-menu {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .wrapper-footer {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    gap: 80px;
  }

  .list-footer-menu-item:last-child {
    padding-bottom: 80px;
    box-sizing: border-box;
  }

  .wrapper-all-platforms {
    gap: 48px;
    margin-bottom: 32px;
  }

  .wrapper-finded-platforms {
    gap: 48px;
  }

  .wrapper-tweet {
    gap: 48px;
  }

  .wrapper-tweet-article {
    gap: 16px;
    padding: 0 18px;
  }
}

@media (max-width: 636px) {
  .subscriptions,
  .section-join-now,
  .section-new-tabs {
    padding: 80px 0;
  }
  .text-with-arrow {
    display: none;
  }

  .wrapper-main {
    max-width: 540px;
    margin-bottom: 60px;
  }

  .title-tabs {
    font-weight: 700;
  }

  .left-text-arrow {
    display: none;
  }

  .right-text-arrow {
    display: none;
  }

  .right-bot-text-arrow,
  .left-bot-text-arrow {
    display: block;
    position: absolute;
  }

  .right-bot-text-arrow {
    left: 0;
    bottom: 0;
  }

  .left-bot-text-arrow {
    right: 0;
    top: 0;
  }

  .center-cell {
    gap: 0;
    margin-bottom: 80px;
  }

  .box-position-right {
    position: relative;
    bottom: 40px;
    right: 150px;
  }

  .box-left-position {
    position: relative;
    top: 45px;
    left: 120px;
  }

  .title-tabs {
    margin-bottom: 80px;
  }

  .header-only-text {
    font-size: 45px;
  }

  .wrapper-tweet-article {
    gap: 16px;
  }

  .wrapper-tweet {
    gap: 32px;
  }

  .only-text,
  .all-platforms {
    padding: 80px 0;
  }

  .wrapper-only-text {
    max-width: 580px;
  }

  .image-size-logo-grid {
    max-width: 130px;
    height: auto;
  }

  .table-logo {
    gap: 15px;
  }

  .save-position {
    display: none;
  }

  .save-position-two {
    display: block;
    position: absolute;
    left: -120px;
    top: 20px;
  }

  .size-box-slider {
    margin-bottom: 80px;
  }

  .selecter-slider-varible1 {
    font-size: 18px;
  }

  .selecter-slider-varible2 {
    font-weight: 500;
    font-size: 18px;
  }

  .slider-selecter {
    height: 44px;
  }

  .cicrle {
    width: 28px;
    height: 28px;
  }
  .btn-join-now {
    padding: 12px 24px;
    max-width: 106px;
    height: 44px;
    font-size: 14px;
  }

  .wraper-header {
    padding: 24px 18px;
  }

  .wrapper-finded-platforms,
  .wrapper-all-platforms {
    gap: 32px;
  }
}

@media (max-width: 450px) {
  .twitter-card,
  .pinterest-card,
  .png-card,
  .facebook-card {
    max-width: 299px;
    height: auto;
  }

  .size-box-border-centr {
    padding: 24px;
    max-width: 339px;
  }

  .tabs-catd-img {
    max-width: 291px;
  }

  .right-bot-text-arrow {
    left: 110px;
  }

  .left-bot-text-arrow {
    right: 120px;
  }

  .description-main-text {
    max-width: 286px;
    margin: 0 auto 32px auto;
  }

  .title-main-text {
    max-width: 320px;
    margin: 0 auto 16px auto;
  }

  .box-position-right {
    right: 220px;
  }

  .box-left-position {
    left: 210px;
    top: 40px;
  }

  .header-only-text {
    font-size: 36px;
    font-weight: 900;
  }

  .image-size-logo-grid {
    max-width: 115px;
    height: auto;
  }

  .logo-list-item {
    max-width: 64px;
    height: 64px;
  }

  .img-logo-horizontal {
    max-width: 30px;
  }

  .btn-view-more-trand {
    padding: 12px 24px;
    max-width: 152px;
    height: 44px;
    color: #fff;
    text-wrap: nowrap;
  }

  .btn-free-tral {
    height: 54px;
  }
  .slider-selecter {
    height: 44px;
  }
}
